body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	font-size: 20px;
}

#header_menu {
	/*
	 renkleri background rengini paint ile almak zorunda kaldim
	 o yuzden rgb kodunu verdim.
	 */
	float: left;
	background: rgb(37, 37, 37);
	width: 100%;
	height: 25px;
	color: #ffffff;
	padding-bottom: 20px;
}

#header_menu_link {
	/*
	icerik alani icin padding kullanilmasi daha uygunmus. 
	padding hakkinda bilgi:
	http://fatihhayrioglu.com/css-kutu-modeli-padding-ozellikleri/
	*/
	padding-left: 75px;
	color: #ffffff;
	font-size: 14px;
	padding-top: 10px;

}

#header_menu_link > a {
	/*
	Bu kisim fade effect olayi icin var.
	Kaynak: http://stackoverflow.com/a/6008409/3821823
	Link uzerine gelince yapilan gecisler daha efektif oluyor.
	*/
	float: left;
	color: #ffffff;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#header_menu_link > a:link {
	/*
	falanca_id > falanca_html_elementi seklinde aktarima bagli kullanim vardir.
	*/
	color: #ffffff;
	text-decoration: none;
	padding-left: 15px;
}

#header_menu_link > a:visited {
	/*
	ziyaret edilmiş linkler unvisited durumdaki linkle aynı rengi alıyor.
	*/
	color: #ffffff;
}

#header_menu_link > a:hover {
	/*
	Link uzerine gelince degisecek renk mouse over olayi.
	Bu renk tek basina duz degisimde
	Ancak yukaridaki a elementi yakalanip fade effect uygulanmistir.
	Fade effect uygulanmasindan dolayi gecisler daha hos bir goruntudedir.
	*/
	color: red;
}

#header_menu_link > a:active {
	/*
	CSS'de active elementi arguman olarak gonderildigi
	elementin uzerine basili tutunca devreye girer.
	*/
	color: red;
}

#header_menu_cur {
	/*
	Sag taraftaki kur bolumunu once bir div icinde saga tasidim.
	Container gorevi goruyor.
	*/
	float: right;
	color: rgb(119, 119, 119);
}

#header_menu_cur_el {
	/*
	Daha sonra icerideki elementleri aldim yani ogeleri.
	*/
	float: left;
	padding-right: 100px;
	font-size: 15px;
	padding-bottom: 10px;
	
}

#header_menu_cur_el > select {
	/*
	Bu kisim jquery ile calisinca transform uygulaniyor.
	Yani aslinda bir fade effect gibi. Ancak bunu ogrenmedik henuz.

	cursor: http://www.w3schools.com/cssref/pr_class_cursor.asp

	cursor selectbox ve button uzerine gelince isaretci cikarir.
	overflow:hidden tasmalari engellemek icin.
	-webkit-appearance chrome icin var olan gorunumu none yapar
	ancak bu webkit projesini taban alan tarayicilarda gecerlidir.
	moz-appearance ise mozillayi taban alan tum tarayicilar icin
	gorunumu none kilar yani select'in varsayilan down arrow'u artik yok
	onun yerine sag tarafta bir arrow var.
	*/
	background: #fcfcfc;
	color: #888;
	width: 118px;
	height: 26px;
	padding: 4px 15px 4px 5px;
	border: 0px solid #ccc;
	border-style: solid; /* select icin kenarlik belli olmuyor ama var. */
	cursor: pointer;
	overflow: hidden;
	background: url('../images/cur-arrow.gif') no-repeat right #fff;
	-webkit-appearance: none;
	 -moz-appearance: none;
	 text-overflow: '';
	 text-indent: 0.1px;

}

#header_menu_cur_el > select::-ms-expand {
	/*
	acik kaynak dusmani ie ayrica developer dusmani da oluyor.
	down arrow diger tarayicilarda iyi calisirken bunda bozuluyordu.
	onu duzenledim. artik custom down arrow calisiyor.
	*/
	display: none;
}

#header_menu_cur_el > button {
	/*
	HTML'de input kontrolunun daha gelismi bir versiyonudur button kullanimi
	http://www.w3schools.com/tags/tag_button.asp
	*/
	color: #ffffff;
	background-color: red;
	border: 0px;
	height: 26px;
	margin-left: 5px;
	cursor: pointer;
}

#banner_area {
	/*
	banner kismi yani kirmizi bolgenin ilk varsayilanlari.
	*/
	width: 100%;
	height: 130px;
	background-color: rgb(241, 1, 2);
	color: #ffffff;
	float: left;
}

#banner_content {
	/*
	banner iceriginin ilk varsayilanlari da burada.
	font-weight yazinin formatini belirler; kalin, italik vs.
	*/
	float: left;
	padding-left: 90px;
	padding-top: 20px;
	font-weight: bold;
}

#banner_content_logo > a:link {
	/*
	logo kismini link tabanli text olarak ekledim.
	dynamic website formatina uygun olmasi acisinda.
	banner title dedigimiz kisim bilgileri veritabanindan cekiyor olabilirdi.
	*/
	font-size: 50px;
	color: #ffffff;
	text-decoration: none; /* alt cizgiyi kaldirmak acisindan. */
}

#banner_content_logo > a:hover {
	/* uzerine gelince link herhangi bir renk vermesin. */
	color: #ffffff;
}

#banner_content_logo > a:visited {
	/* 
	ziyaret edilip edilmedigi hakkinda bilgi dondurur. 
	mantigi logo, banner oldugu icin renk degismez.
	*/
	color: #ffffff;
}

#banner_content_logo > a:active {
	/* active renk default olarak beyaz. */
	color: #ffffff;
}

#banner_content_logo > span {
	/* logo altindaki description area.
	bu kisim bilincli olarak span icine alindi. */
	font-size: 12px;
}

#banner_content_basket {
	/*
	sepet kismi icin ilk div olusturuldu.
	*/
	float: left;
}

#banner_basket {
	/*
	sepet pozisyonu vs. ayarlamalari.
	position: absolute mutlak konumlandirma icindir.
	bkz: http://fatihhayrioglu.com/css-ile-konumlandirmapositioning/
	*/
	float: left;
	margin-right: 100px;
	background-image: url('../images/cart.gif');
	position: absolute;
	right: 0px;
	top: 69px;
	width: 82px;
	height: 74px;
	text-align: center;
	text-decoration: none;
	padding: 8px 0 0 0;
}

#banner_basket > a {
	/*
	sepet uzerinde normalde kac adet sepet elemani var onu gosterir.
	o bolge linklendirilecegi icin hos bi transition (transform) uygulandi.
	*/
	color: #ffffff;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#banner_basket > a:link {
	/*
	varsayilan
	*/
	color: #ffffff;
	text-decoration: none;
}

#banner_basket > a:hover {
	/*
	uzerine gelindiginde
	*/
	color: red;
}

#banner_basket > a:active {
	/*
	basili tutuldugunda
	*/
	color: red;
}

#menu_area {
	/*
	menu bolumu. normalde arkaplan gorselini ps ile hazirlayacaktim.
	ancak ps ile hazirlanan gorsel demek sayfa her cagirildiginda yeni bir
	http request demektir. bu da sayfa hizini dusurecektir. bu yuzden
	css linear gradient gri tonlarinda toplamda iki renk icin %95 uygulandi.
	*/
	float: left;
	background: linear-gradient(#fcfcfc 30%, #e3e3e3 65%);
    width: 100%;
    height: 60px;
}

#menu_area .menu{
	/*
	menu bolumu. pozisyonu mutlak olarak uygulanmistir.
	border left 1 px verildi. soldan 1 px kalinlik.
	*/
	position: absolute;
	top: 175px;
	left: 75px;
	border-left: 1px solid #d6d5d5;
}
#menu_area .menu > ul{
	/*
	menu ul elemanlari. burada bilinmeyen sey overflow nesnesidir.
	bu nesne hidden parametresini aldigi zaman tasmalari gostermez.
	eger ki bir tasma olursa.
	*/
	float: left;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#menu_area .menu > ul li{
	/*
	menunun liste elemanlari. float left tabii ki.
	border-right sagdan solid olacak sekilde 1 px gri tonunda kalinlik ver.
	*/
	float: left;
	border-right: 1px solid #d6d5d5;
	list-style-type: none;
}
#menu_area .menu > ul li a{
	/*
	font boyutunu tutturmak baya zor oldu. site genelinde arial kullaniyorum.
	text-transform uppercase ozelligi ile metni buyultur. html'de zaten buyuk
	ama kucuk yazsaydim da buyurdu. ornek icin reviews linki kucuk yazilmistir.
	bkz: http://fatihhayrioglu.com/cssde-metintext-ozellikleri/
	*/
	font:700 17px/20px 'Arial', sans-serif;
	text-decoration:none;
	text-transform:uppercase;
	padding:18px 20px 23px 19px;
	display:block;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}


#menu_area .menu > ul li a:link {
	/*
	link rengi.
	*/
	color: #000;
}
#menu_area .menu > ul li a:visited {
	/*
	ziyaret edilen
	*/
	color: #000;
}

#menu_area .menu > ul li a:hover{
	/*
	menu linklerinin uzerine gelince ne olacagini soyluyor.
	repeat-x yana dogru devam et demek. cat-act.gif dosyasi normalde
	2x61 boyutlarda repeat-x il belirli sekilde devam ettirebiliriz.
	*/
	color:#fff;
	background:url(../images/cat-act.gif) repeat-x 0 0 #202020;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

#menu_area .menu #cur-sel {
	/*
	secili olan link yani aslinda bulunan sayfadaki linki renklendirir.
	transition olayi burada da mevcuttur.
	*/
	color:#fff;
	background:url(../images/cat-act.gif) repeat-x 0 0 #202020;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

#search input[type="text"] {
	/*
	type text olan butun search id'li kutucuklara bu uygulanacak.
	clear, float'in etkisini yok etmek icin vardir.
	bkz: http://fatihhayrioglu.com/float-ve-clear-ozellikler-ile-konumlandirma/
	outline: none ifadesi ise;
	search form kismina erisip input'a tiklandigi zaman,
	olusan mavi cerceveyi yok eder.
	bkz: http://fatihhayrioglu.com/dis-hat-cizgisioutline-ozellikleri/
	border 1px verdim dis cizgiyi solid verdim duz cizgi seklinde.
	rengini ise grinin bir tonu olarak ayarladim.
	background-image ise search icon olarak var.
	background-position ise icon nerede duracak onu belirlemek icin.
	background-repeat ise arkaplan olarak eklenen gorsel tekrarlanacak mi ona bakar.
	bkz: http://fatihhayrioglu.com/hizli-css-referansi/
	*/
	float: right;
	clear: both;
	margin-right: 100px;
	padding-left: 5px;
	height: 35px;
	width: 160px;
	margin-top: 12px;
	outline: none;
	border: 1px solid #d6d5d5;
	background-image: url('../images/search.gif');
	background-position: 122px -2px;
	background-repeat: no-repeat;
}
